[submodule "apps/api"]
	path = apps/api
	url = https://github.com/Emmanuel-Melon/inspirers-api
	branch = main
[submodule "apps/admin"]
	path = apps/inspirers-admin
	url = https://github.com/Emmanuel-Melon/inspirers-admin
	branch = main
[submodule "apps/website"]
	path = apps/website
	url = https://github.com/Emmanuel-Melon/inspirers-website
	branch = main
[submodule "inspirers-admin"]
	path = inspirers-admin
	url = https://github.com/InspirersHQ/inspirers-admin.git
[submodule "apps/inspirers-admin"]
	path = apps/inspirers-admin
	url = https://github.com/InspirersHQ/inspirers-admin.git
