@import url("https://fonts.googleapis.com/css2?family=Enriqueta&family=Nuntio&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background: #F8F8F7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li {
  line-height: 1.5;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Enriqueta" !important;
}

a,
p,
li,
label,
button {
  font-family: "Nuntio" !important;
  margin: 0;
}